<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h1 class="title has-text-centered">PASSWORD GENERATOR</h1>
            <div class="field">
                <label>Length of password:</label>
                <input class="input" (input)="passwordLength($event.target.value)" type="text">
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="">
                        <input (change)="onChangeLetters()" type="checkbox">Use letters</label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="">
                        <input (change)="onChangeNumbers()" type="checkbox">Use numbers</label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox" for="">
                        <input (change)="onChangeSymbols()" type="checkbox">Use symbols</label>
                </div>
            </div>

            <button [disabled]="!(length && (letters || numbers || symbols))" (click)="showPassword()" class="button is-link is-fullwidth">Generate!</button>

            <div class="box" *ngIf="password">
                <label for="">Your password is </label>
                <input class="input" value="{{password}}">
            </div>
        </div>
    </div>
</div>